/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
    font-family: 'Open Sans', sans-serif;
    background: #ddd;
    color: #363636;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   PROA
   ========================================================================== */
#content{
    background: #fff;
    border: 5px solid #ccc;
    max-width: 960px;
    margin: 0 auto;
    position: relative;
    padding: 20px 0px 100px 0px;
    min-height: 600px;
}
#content h1{
    text-align: center;
}
#mv{
    text-align: center;
}
#mv a{
    color: #2d4d6b;
    display: inline-block;
    margin: 0 5px;
    font-weight: 900;
    position: relative;
    text-decoration: none;
    text-align: center;
    text-shadow: 1px 1px 0px #60b2ff;
    width: 200px;
}
#mv a img{
    border:2px solid #ccc;
    border-radius: 5px;
    transition: all 0.3s linear;
}
#mv a:hover img{
    border:2px solid #60b2ff;
    box-shadow: 0 0 10px 2px rgba(0,0,0,.1);
    -webkit-transform: scale(1.1);
}
#mv a span{
    display: block;    
}
.solucion{
    text-align: center;
}
.solucion a{
    display: inline-block;    
}

.tb{
    width: 100%;
    border-collapse: collapse;   
    box-shadow: 0px 2px 2px 1px #ccc; 
}
.tb th{
font-size: 1.1em;
font-weight: 900;
text-shadow: 1px 0px 0px rgba(0,0,0,.5);
background: #5ba0ea;
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzViYTBlYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ5JSIgc3RvcC1jb2xvcj0iIzIwN2NjYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxZTU3OTkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #5ba0ea 0%, #207cca 49%, #1e5799 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5ba0ea), color-stop(49%,#207cca), color-stop(100%,#1e5799));
background: -webkit-linear-gradient(top,  #5ba0ea 0%,#207cca 49%,#1e5799 100%);
background: -o-linear-gradient(top,  #5ba0ea 0%,#207cca 49%,#1e5799 100%);
background: -ms-linear-gradient(top,  #5ba0ea 0%,#207cca 49%,#1e5799 100%);
background: linear-gradient(to bottom,  #5ba0ea 0%,#207cca 49%,#1e5799 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5ba0ea', endColorstr='#1e5799',GradientType=0 );


color: #fff;
border-right: 1px solid rgba(0,0,0,.2);
line-height: 1.1em;
padding: 0px 5px 0 5px;
}
.tb tr{    
    background: #eee;
}
.tb tr:nth-child(odd){
    background: #fff;
}
.tb td{        
    padding-left: 5px;
    border: 1px solid #ccc;
}
.tb td.icons{
  text-align: center;  
}
.tb td.icons ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
.tb td.icons li{  
}
.tb ul{
  padding: 4px;
  margin: 2px;
}
.tb li{  
  list-style: none;
}

.sol{
    padding: 20px 10px;
}
#volver,
#home{
    position: absolute;
    bottom: 0;
}
#volver{
    left: 0;
}
#home{
    right: 0;
}
#topMarca{
    position: absolute;
    top: 0;
    left: 0;
    border: 2px solid #ccc;
    width: 100px;
    border-radius: 0px 30px 30px 0;
    padding-right: 15px;    
}
#content-video{
    text-align: center;
}
#content-video iframe{

}





/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
